<%- include('indexnavbar.ejs') %>
<nav class="navbar-default" role="navigation">
  <div class="container">
  <ul class="nav navbar-nav ">
    <li><a href="/" class="menu " >Home</a></li>
    <li><a href="/entertainment" class=" menu">Entertainment</a></li>
    <li><a href="/politics" class="menu">Politics</a></li>
    <li><a href="/sports" class="menu">Sports</a></li>
    <li><a href="/buisness" class="menu"style="background-color: orange">Buisness</a></li>
    <li><a href="/health" class="menu">Health</a></li> 
    <li><a href="/technology" class="menu">Technology</a></li> 
  </ul>
  </div>
  </nav>
  <%- include ('newslist.ejs') %>
</body>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/smoothScroll.js"></script>
  <script src="js/jquery.flexslider.js"></script>
  <!-- <script src="ejs.min.js"></script> -->
</html>