<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Insert Magazines</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templatemo_style.css">
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse">


<style type="text/css">
    .sticktop{
      position: -webkit-sticky;
      position: sticky;
      display: block;
      top: 0px;
      z-index: 100;

    }
  </style>
  <div class="sticktop">
    <nav class="navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header navbar-left">
        <a class="navbar-brand" href="/profileindex"><img class="img-fluid"src="images/logo1.png" alt="" width="250" height="50" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        
        <ul class="nav navbar-nav ">
          <li><a href="/profileindex" class="menu ">NEWS</a></li>
          <li><a href="/pmagazine" class="active menu">Magazines</a></li>
          <li><a href="/admindashboard" class="menu">Dashboard</a></li>
          <li><a href="/insertnews" class="menu">Insert News</a></li>

          
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#profile">Profile
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li style="vertical-align:auto;"><a><p>Welcome, <%=user.firstname%> <%=user.lastname%></p></a></li>
            
            <li><a href="/logout">logout</a></li>

          </ul>
        </li>
            </ul>
              
      </div>
    </div>
  </nav>
</div>
    <div class='page-header' style="margin-left: 50px;">
        
        <h1>ADD MAGAZINES</h1>
        <hr>
      </div>
    
    <div style="margin-left: 50px;">
        <form action="#" id="insertmags" >
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label"> Title</label>
                <div class="col-sm-10">
                <input type="text" id="title" class="form-control" placeholder="Title" value="" name="name" required >
            </div>
            </div>
            <div class="form-group row">
                <label for="desc" class="col-sm-2 col-form-label"> Description</label><br>
                <div class="col-sm-10">
                <textarea id="desc" class="form-control" name="desc" rows="5" cols="80"required placeholder="Description"></textarea>
            </div>
            </div>
            <div class="form-group row">
                <!-- <label for="image">Upload Image</label>
                <input type="file" id="image"
                       name="image" value="" required> -->
                <label for="image"class="col-sm-2 col-form-label" > Insert image</label>
                <div class="col-sm-10">
                <input type="file" id="image" class="form-control-file" name="image" onchange="previewimage()"><br>
                <img src="" height="200" alt="" style="display: none;">
            </div>
            </div>
            <div class="form-group row">
                <!-- <label for="image">Upload Image</label>
                <input type="file" id="image"
                       name="image" value="" required> -->
                <label for="pdf" class="col-sm-2 col-form-label"> Insert pdf</label>
                <div class="col-sm-10">
                <input type="file" name="pdf" class="form-control-file" id="pdf" onchange="previewFile()"><br>
                <img src="" height="200" alt="" style="display: none;">
            </div>
            </div>
            <div class="form-group row">
                <label for="issued" class="col-sm-2 col-form-label"> Issued</label><br>
                <div class="col-sm-10">
                <input type="month" id="issued" class="form-control" name="issued" rows="5" cols="80"required />
            </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
            </div>
            
            <div id="imgs" style="display: none;"></div>
            <div id="pdfs" style="display: none;"></div>
        </form>
    </div>
<script>
    const form = document.getElementById('insertmags')
	form.addEventListener('submit', insertedmags)
    function previewimage() {
        var filesSelected = document.getElementById("image").files;
        if (filesSelected.length > 0) {
        var fileToLoad = filesSelected[0];

        var fileReader = new FileReader();

        fileReader.onload = function(fileLoadedEvent) {
            var srcData = fileLoadedEvent.target.result; // <--- data: base64

            var newImage = document.createElement('img');
            newImage.src = srcData;
            console.log(newImage.src);
            document.getElementById("imgs").innerHTML = newImage.src;
            // alert("Converted Base64 version is " + document.getElementById("imgs").innerHTML);
            // console.log("Converted Base64 version is " + document.getElementById("imgs").innerHTML);
        }
        fileReader.readAsDataURL(fileToLoad);
        }
    }
    function previewFile() {
        var filesSelected = document.getElementById("pdf").files;
        if (filesSelected.length > 0) {
        var fileToLoad = filesSelected[0];

        var fileReader = new FileReader();

        fileReader.onload = function(fileLoadedEvent) {
            var srcData = fileLoadedEvent.target.result; // <--- data: base64

            var newImage = document.createElement('pd');
            newImage.src = srcData;
            console.log(newImage.src);
            document.getElementById("pdfs").innerHTML = newImage.src;
            // alert("Converted Base64 version is " + document.getElementById("imgs").innerHTML);
            // console.log("Converted Base64 version is " + document.getElementById("imgs").innerHTML);
        }
        fileReader.readAsDataURL(fileToLoad);
        }
    }
// // var base64 = getBase64Image(document.getElementById("imageid"));
// const form = document.getElementById('insertnews')
// form.addEventListener('submit', insertednews)
    async function insertedmags(event) {
				event.preventDefault()
				const title = document.getElementById('title').value
                const image = document.getElementById("imgs").innerHTML
                const pdf = document.getElementById("pdfs").innerHTML
                const description = document.getElementById("desc").value
                const issued = document.getElementById("issued").value
                // console.log(image)
				const result = await fetch('/api/insertmags', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						title,
                        description,
                        issued,
						image,
                        pdf
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					// everythign went fine
					alert('Successfully inserted')
				} else {
					alert(result.error)
				}
			}    

</script>
</body>
 
</html>