<%- include('profilenavbar.ejs') %>
<nav class="navbar-default" role="navigation">
  <div class="container">
  <ul class="nav navbar-nav ">
    <li><a href="/profileindex" class="menu ">Home</a></li>
    <li><a href="/pentertainment" class=" menu" >Entertainment</a></li>
    <li><a href="/ppolitics" class="menu">Politics</a></li>
    <li><a href="/psports" class="menu" >Sports</a></li>
    <li><a href="/pbuisness" class="menu">Buisness</a></li>
    <li><a href="/phealth" class="menu"  >Health</a></li> 
    <li><a href="/ptechnology" class="menu" style="background-color : orange">Technology</a></li> 
  </ul>
  </div>
  </nav>
  <%- include('profilenewslist.ejs') %>
</body>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/smoothScroll.js"></script>
  <script src="js/jquery.flexslider.js"></script>
  <!-- <script src="ejs.min.js"></script> -->
</html>